<!DOCTYPE html>
<html>
<head>
  <title>Otter Hive</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>

  <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>

  <link rel="icon" type="image/png" href="/img/soren.png">

  <% if session[:background] %>
    <style type="text/css">
      body {
        background-image: url('/img/backgrounds/<%= session[:background] %>');
      }
    </style>
  <% end %>
</head>
<body>

  <%= render 'partials/header' %>
  <%= render 'partials/sidebar' %>

  <%= yield %>

</body>
</html>
